head
  meta(name='viewport' content='width=device-width')
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Roboto&display=swap' rel='stylesheet')
  style.
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    @media only screen and (max-width: 620px) {
      table[class=body] h1 {
        font-size: 28px !important;
        margin-bottom: 10px !important;
      }
      table[class=body] p,
      table[class=body] ul,
      table[class=body] ol,
      table[class=body] td,
      table[class=body] span,
      table[class=body] a {
        font-size: 16px !important;
      }
      table[class=body] .wrapper,
      table[class=body] .article {
        padding: 10px !important;
      }
      table[class=body] .content {
        padding: 0 !important;
      }
      table[class=body] .container {
        padding: 0 !important;
        width: 100% !important;
      }
      table[class=body] .main {
        border-left-width: 0 !important;
        border-radius: 0 !important;
        border-right-width: 0 !important;
      }
      table[class=body] .btn table {
        width: 100% !important;
      }
      table[class=body] .btn a {
        width: 100% !important;
      }
      table[class=body] .img-responsive {
        height: auto !important;
        max-width: 100% !important;
        width: auto !important;
      }
    }
    @media all {
      .ExternalClass {
        width: 100%;
      }
      .ExternalClass,
      .ExternalClass p,
      .ExternalClass span,
      .ExternalClass font,
      .ExternalClass td,
      .ExternalClass div {
        line-height: 100%;
      }
      .apple-link a {
        color: inherit !important;
        font-family: inherit !important;
        font-size: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
        text-decoration: none !important;
      }
      #MessageViewBody a {
        color: inherit;
        text-decoration: none;
        font-size: inherit;
        font-family: inherit;
        font-weight: inherit;
        line-height: inherit;
      }
      .btn-primary table td:hover {
        background-color: #34495e !important;
      }
      .btn-primary a:hover {
        background-color: #34495e !important;
        border-color: #34495e !important;
      }
    }
table.body(border='0' cellpadding='0' cellspacing='0' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: #f6f6f6;')
  tr
    td(style="font-family: 'Roboto', sans-serif; font-size: 14px; vertical-align: top;") &nbsp;
    td.container(style="font-family: 'Roboto', sans-serif; font-size: 14px; vertical-align: top; display: block; Margin: 0 auto; max-width: 580px; padding: 10px; width: 580px;")
      .content(style='box-sizing: border-box; display: block; Margin: 0 auto; max-width: 580px; padding: 10px;')
        // START CENTERED WHITE CONTAINER
        div(style='background-color: #00243F; height: auto; border-radius: 12px; margin-top: 20px; margin-bottom: 20px; padding:16px;')
           p(style="font-family: 'Roboto', sans-serif; font-size: 24px; color: white") Safedocs
        table.main(style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background: #fff; border-radius: 12px;')
          // START MAIN CONTENT AREA
          tr
            td.wrapper(style="font-family: 'Roboto', sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;")
              table(border='0' cellpadding='0' cellspacing='0' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;')
                tr
                  td(style="font-family: 'Roboto', sans-serif; font-size: 14px; vertical-align: top;")
                    p(style="font-family: 'Roboto', sans-serif; font-size: 14px; font-weight: bold; margin: 0; Margin-bottom: 15px;") Welcome #{firstName},
                    br
                    p(style="font-family: 'Roboto', sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;")
                      | Your user has been successfully created. Click on this button to activate your user:

                    div(style='display: flex; justify-content: center;')
                      div(style='border-radius: 12px; padding: 8px 12px; width: auto; background: #00243F; border: 0; margin: auto;')
                        a(href=`${activationUrl}` style='text-decoration: none; color: #fff; text-transform: uppercase; font-weight: 900;') Activate user
                    br
                    br
                    p(style="font-family: 'Roboto', sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;") All the best,

                    p(style="font-family: 'Roboto', sans-serif; font-size: 14px; font-weight: bold; margin: 0; Margin-bottom: 15px;")
                      | the
                      a(href='https://safedocs.hu' style='text-decoration: none;')  Safedocs
                      |  team

                    p(style="font-family: 'Roboto', sans-serif; font-size: 10px; font-weight: normal; margin: 0; Margin-bottom: 15px;")
                      | If you received this email by mistake, than please ignore this message or connect our team on the
                      a(href='mailto:info@safedocs.hu')  info@safedocs.hu
                      |  e-mail address.
    td(style="font-family: 'Roboto', sans-serif; font-size: 14px; vertical-align: top;") &nbsp;
